<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a
            href="#"
            class="list-group-item clearfix"
            *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h2 class="list-group-item-heading">{{ recipes[0].name }}</h2>
                <p class="list-group-item-text">{{ recipes[0].description }}</p>
            </div>
            <span class="pull-right">
                <img
                    [src]="recipes[0].imagePath"
                    [alt]="recipes[0].name"
                    class="img-responsive"
                    style="max-height: 100px">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
