<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button class="btn btn-dark" (click)="onCreateServer()" [disabled]="!allowNewServer">Add Server</button>

<!-- these two below do the same thing -->
<!-- <p [innerHTML]="serverCreationStatus"></p> -->
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No servers</p>
</ng-template>

<hr>

<div class="container">
    <div class="jumbotron">
        <h2 style="font-weight:bold">Empty username</h2>
        <p>Username: {{ username }}</p>
        <input
            type="text"
            class="form-control"
            [(ngModel)]="username">
        <button class="btn btn-dark" (click)="username = ''" [disabled]="username === ''">Reset User</button>
    </div>
</div>
<br>

<hr>
<button (click)="onClickButton()">Display Details</button>
<p *ngIf="displayDetails">Secret password = tuna; Clicks: {{ buttonClicks }}</p>
<hr>