<div class="container">
    <div class="row">
        <h1><b>I'm in the AppComponent!</b></h1>
        <hr>
    </div>

    <div class="row">
        <div class="col">
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
    <div class="row">
        <app-server></app-server>
    </div>
    <div class="row">
        <app-server></app-server>
    </div>
</div>
